.auth_layout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.auth_layout__left {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  @media (min-width: 768px) {
    overflow-y: hidden;
  }
}

.auth_layout__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 1rem;
}

.auth_layout__logo {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  
}

.auth_layout__content {
  height: 100%;
  width: 100%;
  @media (min-width: 768px) {
    overflow-y: hidden;
  }
}

.auth_layout__right {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  display: none;
  @media (min-width: 1024px) {
    display: inherit;
  }
}

.auth_layout__banner {
  display: none;
  background-color: hsl(var(--primary));
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    display: flex;
  }
}
.auth_layout__image {
  height: 100%;
  object-fit: contain;
}
