.tab_container {
  width: 400px;
}
.tab_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  background-color: hsl(var(--background));
}

.tab_list_item {
  box-shadow: none;
  width: fit-content;
  padding: 0.25rem 0px;
  border-radius: 0px;
  &.active {
    border-bottom: 2px solid hsl(var(--primary));
    box-shadow: none !important;
  }
}