.topbar_button {
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  background-color: hsl(var(--foreground));
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
}

.topbar_button_icon {
  height: 1rem;
  width: 1rem;
}

.topbar_button_item {
  display: flex;
  justify-content: flex-start;
  gap: 0.75rem;
  cursor: pointer;
}

.topbar_notification {
  cursor: pointer;
  padding: 1rem;
  width: 270px;
}

.notification_item {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 5px;
}

.notification_item_title {
  font-size: 1.125rem;
  font-weight: bold;
}

.notification_item_message {
  font-size: 0.85rem;
  text-wrap: balance;
}

.notification_clean {
  display: flex;
  justify-content: center;
  align-items: center;
   gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: hsl(var(--border));
  }
}

.topbar_searcher {
  width: 100%;
  border-radius: 9999px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  @media screen and (min-width: 768px){
    width: 50%;
  }
}

.topbar_searcher_input {
  border: 1px solid hsl(var(--secondary));
  outline: none;
  background-color: hsl(var(--background));
  color: hsl(var(--secondary-foreground));
  border-radius: 9999px;
  box-shadow: none !important;
  width: 80%;
}

.topbar_searcher_icon {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  background-color: hsl(var(--secondary));
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  > .icon {
    height: 15px;
    width: 15px;
  }
}
.topbar_searcher_container {
  width: 100%;
  margin-left: 20px;
  @media not all and (min-width: 768px){
    display: inherit;
  }
}

.searcher_result_container {
  z-index: 50;
  position: absolute;
  background-color: hsl(var(--background));
  width: 80%;
  height: 250px;
  border-radius: var(--radius);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-width: 1px;
  left: 50px;
  top: 50px;
  > .icon_loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    > .icon_loader {
      height: 50px;
      width: 50px;
      color: hsl(var(--primary));
      animation: spin 1s linear infinite;
    }
  }
}

.searcher_result_not_found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.25rem;
  font-weight: bold;
}

.searcher_result_item {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: hsl(var(--border));
  }
}
.searcher_result_item_image {
  height: 50px;
  width: 50px;
  border-radius: 9999px;
}
.searcher_result_item_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  > .searcher_result_item_title {
    font-size: 1rem;
    font-weight: bold;
  }
  > .searcher_result_item_description{
    font-size: 0.75rem;
  }
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.topbar_button_sidebar {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.25rem;
  background-color: hsl(var(--foreground));
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  margin-right: 1rem;
  display: none;
  @media not all and (min-width: 640px) {
    display: flex;
  }
}

.topbar_button_icon_sidebar {
  height: 1rem;
  width: 1rem;
}

.topbar_sidebar_sections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.topbar_sidebar_section_title {
  color: hsl(var(--border));
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: 0.75rem;
}

.topbar_sidebar_section_content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.topbar_sidebar_section_item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0.75rem;
  padding-left: 1.5rem;
  color: hsl(var(--background));
  &:hover {
    color: hsl(var(--primary));
    border-right: 3px solid hsl(var(--primary));
    cursor: pointer;
  }
  &.active {
    color: hsl(var(--primary));
    border-right: 3px solid hsl(var(--primary));
    .item_icon {
      animation: spin 1s ease-in-out;
    }
  }
}