@import './tokens.css';
:root {
  --color-brand-primary: #00B4D8;
  --color-brand-secondary: #03045E;
  --color-background-primary: #ffffff;
  --color-background-secondary: #ADB5BD;
  --color-foreground-primary: #03045E;
  --color-foreground-secondary: #ADB5BD;
  --color-complementary-danger: #ea3a3d;
  --color-complementary-success: #90BE6D;
  --color-complementary-warning: #f1b603;
}

.dark {
  :root {
    --color-brand-primary: #00B4D8;
    --color-brand-secondary: #03045E;
    --color-background-primary: #03045E;
    --color-background-secondary: #ADB5BD;
    --color-foreground-primary: #ffffff;
    --color-foreground-secondary: #ADB5BD;
    --color-complementary-danger: #ea3a3d;
    --color-complementary-success: #90BE6D;
    --color-complementary-warning: #f7cb45;
    color: #00B4D8;
  }
}
